.custom-header-link-title {
  color: var(--highlight);
  font-weight: 600;
  &:hover {
    color: var(--tertiary);
  }
}

.reclone, .homepage-content {
  padding-right: 30px;

  .locations-map {
    height: 300px;
    width: 100%;
  }

  .lower-height {
    height: 100px;
    width: 100%;
  }

  .standard-height {
    height: 150px;
    width: 100%;
  }

  .standard-image {
    background-image: url($main_background);
    background-size: cover;
  }

  .increased-height {
    height: 250px;
    width: 100%;
  }

  .double-height {
    height: 300px;
    width: 100%;
  }

  .lower-height, .standard-height, .increased-height, .double-height, .locations-map {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    // background-color: var(--highlight);
    color: var(--tertiary);
    font-weight: 600;
    font-size: 1.2em;
    border-radius: 5px;
    margin: 20px;
    .block  {
      background-color: var(--highlight-high);
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }



  // &.one {
  //   .line-one{
  //     width: 100%;
  //   }
  // }
  // &.two {
  //   .line-one{
  //     width: 100%;
  //   }
  // }
  &.three {

  }
  &.four {

  }
  &.five {

  }

  &.main {
    h2 {
      color: var(--tertiary);
    }
    .banner {
      height: 700px;
      background-image: url($main_background);
      .panel-wrapper {
        display: flex;
        justify-content: center;
        margin-left: auto;
        align-items: center;
        height: 100%;

      }
      .panel {
        display: grid ;
        z-index: 1;
        grid-template-columns: 1fr 1fr;
        background-color: var(--secondary);
        border-radius: 3px;
        width: 70%;
        margin: auto;
        .words {
          padding: 50px;;
          h1 {
            font-size: 5em;
            line-height: 1;
            color: var(--highlight);
          }
          h2 {
            font-size: 1em;
            font-weight: 700;
            margin-bottom: 20px;
          }
          p {
            font-size: 1em;
            margin-bottom: 60px;
          }
          .cta {
            background-color: var(--tertiary);
            color: var(--highlight);
            font-weight: 600;
            font-size: 1.2em;
            padding: 10px 20px;
            border-radius: 5px;
          }
        }
        .transparent {
          background-color: transparent;
        }
      }
    }
    .main {
      padding-top: 120px;
      .title {
        display: flex;
        justify-content: center;
        h2 {
          font-size: 1.5em;
          margin-bottom: 20px;
        }
      }
      .panel-array {
        display: flex;
        justify-content: center;
        .panel {
          i {
            font-size: 3em;
            color: var(--tertiary);
          }
          background-color: var(--highlight);
          border-radius: 3px;
          padding: 50px;
          margin: 20px;
          max-width: 450px;
          display: flex;
          flex-direction: column;
          align-items: center;

          h1 {
            color: black;
            font-size: 2.2em;
            margin-bottom: 20px;
          }
          p {
            font-size: 1em;
            margin-bottom: 60px;
            color: grey
          }
          .cta {
            background-color: var(--tertiary);
            color: var(--highlight);
            font-weight: 600;
            font-size: 1em;
            padding: 10px 20px;
            border-radius: 5px;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
  &.researchers {
    padding-top: 120px;
    .main {
      padding-bottom: 110px;
      .panel-array {
        display: grid;
          grid-template-areas: "words pictures";
          grid-template-columns: 1fr 1fr;
        .panel {
          h1, p, li, .cta {
            color: var(--highlight);
            text-indent: 0;
          }
          h1, p, ul {
            padding-bottom: 30px;
          }
          i {
            font-size: 1.2em;
            color: var(--tertiary);
            padding-right: 5px;
          }
          ul {
            list-style: none;
          }
          .cta {
            background-color: var(--tertiary);
            color: var(--highlight);
            font-weight: 600;
            font-size: 1.2em;
            padding: 15px 15px;
            border-radius: 5px;
            text-align: center;
            width: 250px;
          }
          &.words {
            grid-area: words;
            padding-right: 50px;
          }
          &.pictures {
            grid-area: pictures;

            background-image: url($main_background);
            background-size: cover;
            border-radius: 5px;
          }
        }
      }
    }
    .band {
      background-color: var(--highlight);
      border-radius: 5px;
      padding-bottom: 90px;
      .title {
        padding-top: 90px;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        color: var(--tertiary);
        h2 {
          font-size: 1.5em;
          margin-bottom: 20px;
        }
      }
      .panel-array {
        display: grid;
        padding: 0 50px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        .panel {
          display: flex;
          flex-direction: row;
          .icon {
            i {
              font-size: 3em;
              color: var(--tertiary);
            }
            padding-right: 30px;
          }
          .words {
            display: flex;
            flex-direction: column;
            .title {
              justify-content: left;
              font-size: 0.6em;
              color: black;
              padding: 0;
            }
            .description
            {
              font-size: 1em;
              color: var(--tertiary);
            }
          }
        }
      }
    }
    .lower {
      padding-top: 50px;
      .title {
        display: flex;
        justify-content: center;
        color: var(--highlight);
        padding-bottom: 40px;
      }
      .panel-array {
        display: flex;
        flex-direction: row;
        .pictures {
          i {
            font-size: 12em;
            color: var(--tertiary);
          }
          padding-right: 50px;
        }
        .cta {
          display: flex;
          justify-content: center;
          background-color: var(--tertiary);
          color: var(--highlight);
          font-weight: 600;
          font-size: 1em;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 5px;
          width: 100%;
          text-align: center;
        }
        h3 {
          color: var(--tertiary);
          font-size: 1.5em;
          margin-bottom: 20px;
        }
        p {
          color: var(--highlight);
          font-size: 1em;
          margin-bottom: 20px;
        }
      } 
    }
  }
}